@import '~ui/app/AppTheme.css';


.AppLayout {
    height: 100%;
}

.AppLayout-header {
    height: 3.5em;
}

.AppLayout-content {
    height: calc(100% - 3.5em);
    margin: auto;
    width: 20em;

    text-align: center;
};
