.CurrencyInput input::-webkit-outer-spin-button,
.CurrencyInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.CurrencyInput {
    display: inline-block;
    width: 20em;
    margin: 3em 0 3em 0;
}
