@import '~ui/app/AppTheme.css';


.CategorySelector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--darkColor);
    cursor: pointer;
}

.Category {
    font-size: 12pt;
}

.Category--selected {
    color: var(--selectedColor);
}

.Category-label {
    font-size: 8pt;
}
